<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd"
>
    <router id="standard">
        <route id="olenak_cms" frontName="olenak-cms">
            <module name="OlenaK_CMS" />
        </route>
    </router>
</config>

<!--
 url = https://olena-kupriiets-magento.local/olenak-cms/lesson/cmscontroller
-->
