<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="olenak_regular_customer_observer_login" instance="OlenaK\RegularCustomer\Observer\RegularCustomerLoginPredispatch" shared="false" />
    </event>
</config>
